#exclude license files
license.xml

#exclude misc litter
*.log

#exclude certain directories
analytics-reporting-queue/
elasticsearch/
jenkins.diagnostics.ooom.OutOfOrderBuildMonitor/
monitoring/
plugins/
war/
slow-requests/
support/
jgroups/
