<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.opscenter.server.clusterops.adhoc.PresetAdHocClusterOpProject plugin="operations-center-clusterops@1.6">
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <operations class="linked-list"/>
</com.cloudbees.opscenter.server.clusterops.adhoc.PresetAdHocClusterOpProject>